/* CSS Rules */
.heading h1 {
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    text-align: center;
}

/* Resize image */
img {
    width: 100px;
    height: 100px;
}

/* Make image float */
.intro img {
    float: left;
    margin-right: 10px;
}

body {
    /*background-color: #17252A;*/
    /*background-color: #1F2833;*/
    background-color: #222629;
    margin: 30px;
    padding: 30px;
    color: white;
}

li {
    list-style: none;
}

/* Start styling navigation bar */
.nav-bar {
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: teal;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
}

.menu li {
    padding: 5px 14px;
}
/* End styling navigation bar */

/* Style the different links in the Nav Bar*/
/* Style skills div */
.skills {
    height: 400px;
    width: 400px;
    background-color: lightskyblue;
}